*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #334;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.mobile-menu-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: none;
}
.mobile-menu-img img{
    width: 100%;
    height: 100%;
    display: none;  
}
.mobile-menu{
    position: absolute;
    top: 100px;
    background-color: #334;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    padding: 10px;
    transition: all 0.4s;
    transform: translateY(-40px);
    display: block;
    opacity: 0;
}
.open{
    display: block;
    opacity: 1;
    transform: translateY(0px);
}
.mobile-menu ul{
    width: 100%;
}
.mobile-menu li{
    list-style: none;
    border-bottom: 1px solid white;
    width: 100%;
}
.mobile-menu li a{
    color: white;
    text-decoration: none;
    display: none;
    margin-top: 10px;
    padding: 3px 20px;
    text-align: center;
    cursor:inherit;
}
.name-company{
    color: white;
    font-size: 30px;
    margin: 0 30px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 0 20px;
}
nav li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 30px;
}
nav li a:hover{
    color: antiquewhite;
}
.home{
    height: calc(100vh - 100px);
    background-image: url(../images/fundo-de-viagens-doodle_23-2148044879.avif);
    background-position: center;
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    
}
.home-content{
    margin: 0 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(60% - 3px);
    padding: 10px;  
    box-shadow: 2px 2px 2px black;

}
.home-content-legend{
    margin: 40px 0px;
}
.home span{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 40px;
}
.home p{
    font-size: 15px;
    text-align: justify;
    color: white;
    font-weight: 200;
}
.home-content-legend .read{
    display: none;
}
.home-content-legend .readVisible{
    display: block;
    font-size: 15px;
    background-color: transparent;
}
.home .button{
    padding: 20px;
    background-color: #ffff00b3;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}


/* Parte features */

.features{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
.content1-feature{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    flex: 1;
    padding: 40px;
    background-color: #334;
    grid-template-columns: repeat(3, 1fr);
}
.content-card{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    margin: 20px;
}
.content-card img{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-bottom: 5px;
    background-color: white;
}
.content-card p{
    text-align: justify;
    color: white;
}
.content2--content{
    min-height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content2--contenth3{
    font-size: 40px;
}
.content2--content p{
    text-align: center;
    margin: 20px 0px;
}
.features .button{
    padding: 20px;
    background-color: #ffff00b3;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
/* Place*/


.placesTravel{
    background-color: #334;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-places{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    overflow: hidden;
    background-color: aqua;
    box-shadow: 10px 10px 10px 3px;
}
.places-slider{
    width: 300%;
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slide-card{
    background-image: url(../images/rio.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: inherit;

}
.slide-card-content{
    text-align: center;
    margin-top: 10px;
}
.slide-card2{
    background-image: url(../images/italia.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: inherit;
}
.slide-card3{
    background-image: url(../images/grecia.avif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: inherit;
}
.places-navegation{
    margin: 10px 0;
    display: flex;
}
.bar{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 6px;
    cursor: pointer;
    transform: .5s ease;
}
.bar:hover,
.checked{
    background-color: white;
}
.placesTravel input{
    display: none;
}


/* Section TEAM  */

.team{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.team h2{
    background-color: #334;
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 5px;
}
.team-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.person{
    width: 30%;
    height: 80%;
    margin: 10px;
    background-color: #334;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.person img{
    width: 40%;
    margin-bottom: 10px;
}
.person span{
    color: yellow;
}

footer{
    background-color: #334;
    color: white;
    text-align: center;
}


@media (min-width: 300px) and (max-width: 380px){
    nav ul{
        display: none;
    }
    .mobile-menu-img img{
        width: 40px;
        height: 40px;
        display: block;
        margin-right: 10px;
    }
    .mobile-menu-img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        display: block;
    }
    .mobile-menu li a{
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        padding: 3px 20px;
        text-align: center;
        cursor:inherit;
    }
    .home span{
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 20px;
    }
    .home p{
        font-size: 15px;
        text-align: justify;
        color: white;
        font-weight: 200;
    }
    .home .button{
        padding: 10px;
        background-color: #ffff00b3;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .home-content{
        margin: 0 20px;
        background-color: rgba(0, 0, 0, 0.5);
        width: calc(80% - 3px);
        padding: 10px;  
        box-shadow: 2px 2px 2px black;
    
    }


    /* Parte features */

    .content1-feature{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        flex: 1;
        padding: 20px;
        background-color: #334;
        grid-template-columns: repeat(2, 1fr);
    }
    .content2--content h3{
        font-size: 30px;
    }
    .content2--content p{
        text-align: justify;
        margin: 20px 0px;
        font-size: 13px;
    }
    .features .button{
        padding: 10px;
        background-color: #ffff00b3;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .content2--content{
        padding: 10px;
    }
     
    /* Team*/

    .team-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .person{
        width: 80%;
        height: 80%;
        margin: 10px;
        background-color: #334;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .person img{
        width: 40%;
        margin-bottom: 10px;
    }
}

@media (min-width: 381px) and (max-width: 480px){
    nav ul{
        display: none;
    }
    .mobile-menu-img img{
        width: 40px;
        height: 40px;
        display: block;
        margin-right: 10px;
    }
    .mobile-menu-img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        display: block;
    }
    .mobile-menu li a{
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        padding: 3px 20px;
        text-align: center;
        cursor:inherit;
    }
    .home span{
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 25px;
    }
    .home p{
        font-size: 15px;
        text-align: justify;
        color: white;
        font-weight: 200;
    }
    .home .button{
        padding: 10px;
        background-color: #ffff00b3;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .home-content{
        margin: 0 20px;
        background-color: rgba(0, 0, 0, 0.5);
        width: calc(80% - 3px);
        padding: 10px;  
        box-shadow: 2px 2px 2px black;
    
    }



    
    /* Parte features */

    .content1-feature{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        flex: 1;
        padding: 20px;
        background-color: #334;
        grid-template-columns: repeat(2, 1fr);
    }
    .content2--content{
        padding: 10px;
    }
    .content2--content h3{
        font-size: 30px;
    }
    .content2--content p{
        text-align: justify;
        margin: 20px 0px;
        font-size: 13px;
    }
    .features .button{
        padding: 10px;
        background-color: #ffff00b3;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
    }

    /* Team*/

    .team-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .person{
        width: 80%;
        height: 80%;
        margin: 10px;
        background-color: #334;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .person img{
        width: 40%;
        margin-bottom: 10px;
    }
}


@media (min-width: 481px) and (max-width: 800px){
    nav ul{
        display: none;
    }
    .mobile-menu-img img{
        width: 40px;
        height: 40px;
        display: block;
        margin-right: 10px;
    }
    .mobile-menu-img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        display: block;
    }
    .mobile-menu li a{
        color: white;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        padding: 3px 20px;
        text-align: center;
        cursor:inherit;
    }
    .home span{
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 25px;
    }
    .home p{
        font-size: 15px;
        text-align: justify;
        color: white;
        font-weight: 200;
    }
    .home .button{
        padding: 10px;
        background-color: #ffff00b3;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .home-content{
        margin: 0 20px;
        background-color: rgba(0, 0, 0, 0.5);
        width: calc(80% - 3px);
        padding: 10px;  
        box-shadow: 2px 2px 2px black;
    
    }
}
